*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background-color: #f4f4f4;
  color: #333;
  padding: 20px;
}
.container {
  max-width: 800px;
  margin: auto;
  background: #02020200;
  padding: 20px;  
}
